.main {
    padding: 20px;

    .head {
        display: flex;
        justify-content: space-around;
        padding: 12px;
        color: var(--color-grey-light-5);
    }

    .boardList {
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-gap: 20px;
        justify-content: center;
    }
}