.container {
    flex: 1;
    display: flex;
    background-color: var(--color-board-background);
    overflow: auto;
}

.lists {
    flex: 1;
    display: grid;
    user-select: none;
    justify-content: start;
    background-color: var(--color-lists-background);
    border-radius: 12px;
    grid-template-columns: repeat(auto-fill, min-content);
    grid-auto-flow: column;
    padding: 12px;
    margin-left: 12px;
}