.infoContainer {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: var(--color-info-background);
    color: var(--color-info-text);

    .info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
    }

    .close {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 4px;
        font-weight: 800;
    }
}