:root {
    --color-primary: #eb2f64;
    --color-primary-light: #ff3366;
    --color-primary-dark: #ba265d;

    --color-button-text: #fff;

    --color-board-modal: #fff;
    --color-header-background: #fff;
    --color-body-background: #fafafa;
    --color-board-background: #fff;
    --color-lists-background: #f4f8fa;
    --color-list-background: #f4f8fa;
    --color-card-background: #fff;
    --color-card-hover: #f4f8fa;
    --color-addbuton-background: #DAE4FD;
    --color-addbuton-text: #2F80ED;
    --color-newbuton-background: #219653;
    --color-newbuton-text: #fff;
    --color-info-background: #1b8855;
    --color-info-text: #fff;

    --color-grey-dark-1: rgb(32, 32, 32);
    --color-grey-dark-2: rgb(68, 68, 68);

    --color-grey-light-1: #cfcfcf;
    --color-grey-light-2: #b9b9b9;
    --color-grey-light-3: #F2F2F2;
    --color-grey-light-4: #e4e4e4;
    --color-grey-light-5: #828282;

    --color-blue-light: #E2E8F6;
    --color-blue-dark: #2F80ED;

    --color-warning-1: #f54545;
    --color-warning-2: #f02121;

    --color-lists-border: transparent;
    --color-modal-background: #fff;
    --color-modal-border: transparent;
    --color-input-background: #fff;
}
