.button {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    color: var(--color-grey-light-5);
    background-color: var(--color-grey-light-3);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;

    &:hover {
        background-color: var(--color-grey-light-4);
    }

    span {
        margin-left: 20px;
    }

}

.warning {
    color: var(--color-button-text);
    background-color: var(--color-warning-1);
    &:hover {
        background-color: var(--color-warning-2);
    }
}