.option {
    display: flex;
    align-items: center;
    padding:8px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: all .2s;
    font-weight: 500;
    margin: 4px 0;

    &:hover {
        background-color: var(--color-grey-light-1);
    }

    i {
        margin-right: 12px;
    }
}